<div class="preloader" *ngIf="isLoading">
    <div class="loader-content">
        <div class="spinner">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="progress-text">{{ progress }}%</div>
        <div class="loading-text">Cargando experiencia...</div>
    </div>
</div>
<div class="preloader" *ngIf="isLoading">
  <div class="preloader-content">

    <img src="assets/1.gif" class="preloader-logo" alt="Vocaciones STEAM">

    <h1 class="preloader-title">Vocaciones STEAM</h1>

    <div class="progress-container">
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>

    <div class="progress-text">{{ progress }}%</div>

  </div>
</div>
